<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.27/angular-ui-router.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
    <script src="groc.js"></script>
    <style>
#cover {
    border-radius: 2%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border-color: black;
    border: 1px solid black;
}
#text {
    border-radius: 20px;
    width: 60%;
    height: 60px;
    font-size: 18px;
    margin-left: 45px;
    padding: 7px;
}
#button {
    background-color: aqua;
    border-radius: 15px;
    width: auto;
    height: 56px;
    font-size: 30px;
    margin-left: 5px;
}
#object {
  display: flex;
  text-align: center;
  margin-left: 38%;
}
#button1 {
  border-radius: 20px;
  width: 180px;
  height: 45px;
}


    </style>
</head>
<body ng-app="myApp" ng-controller="CartController">
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark ">
        
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>APNI DUKAAN</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ml-3">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown ml-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Filter
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">uspa </a></li>
                  <li><a class="dropdown-item" href="#">Item</a></li>
                  
                </ul>
              </li>
              <li class="nav-item ml-">
                <a class="nav-link active" aria-current="page" href="#">Contact</a>
              </li>

            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" style="width: 450px;" placeholder="Search" aria-label="Search">
              <button class="btn btn-success mr-5" type="submit" ng-click="search()">Search</button>
                         
            </form>
            <div class=" ml-3">
                
                 <a ui-sref="Products">LOG OUT</a>
                
            </div>

          </div>
        </div>
      </nav>



      <div id="cover" style="background-color: #f4f4f4;">
        <h1 class="text-center mb-5">SECTION MANAGEMENT</h1>
        <form class="justify-content-center row col-3" ng-submit="addSection()" enctype="multipart/form-data" id="object">

          <label for="productName">Product Id:</label>
          <input type="number" id="productId" ng-model="newProduct.id" required style="border-radius: 10px; height: 40px;"> 

            <label for="productName" class="mt-4">Product Name:</label>
            <input type="text" id="productName" ng-model="newProduct.name" required style="border-radius: 10px; height: 40px;">
            
            <label for="productDetails" class="mt-4">Product Details:</label>
            <textarea id="productDetails" ng-model="newProduct.details" required style="border-radius: 10px;"></textarea>
            
            <label for="productImages" class="mt-4">Product Images:</label>
            <input type="file" id="productImages" file-upload ng-model="newProduct.images"  multiple>
            
            <button type="submit" id="button1" class="btn btn-primary mt-4 mb-3">Add Product</button>
          </form>
        <br><br>
        <hr>
        <br><br>
          
       
          <div class="text-center mb-5"  ng-repeat="product in products">
            <div  class="justify-content-center row col-12">
              <img  ng-src="https://10.21.83.49:8000/media/{{product.Image}}" alt="{{product.about}}" style="height: 180px; width: 290px;" >
              <span id="new" style="border: 1px" >Product : {{product.Categoryname}}</span>
              <p> Details: {{ product.about }}</p>

            </div>
            <button ng-click="deleteProduct(product)" class="btn btn-primary" >Delete</button>

            <button ng-click="showUpdateForm(product)" class="btn btn-primary">Update</button>

            <button ng-click="addProduct(product)" class="btn btn-primary">Add Product</button>
            
            <div class="justify-content-center " ng-if="product.showUpdateForm">
              <form ng-submit="updatedData(product)">
                
                <label>Customer Name:</label>
                <input type="text" ng-model="product.updName" required><br>
                
                <label>Product Details:</label>
                <input type="text" ng-model="product.updDetails" required><br>

                <label>Product Images:</label>
                <input type="file" file-upload ng-model="product.updimages"  multiple>
                
                <button type="submit" id="update1" class="btn btn-primary mt-4 mb-3">Update</button>
                <h6>Just a random change!</h6>
              </form>
            </div>
          </div>
          
        </div>
        <br><br><br>

</body>
</html